
$primary-color: #008cba;
$gray-color: #ddd;
$medium-up: 600px;
$large-up: 1000px;
$global-radius: 4px;

@mixin heading-font-regular {
	font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;;
}

html {
	font-size: 20px!important;
}

.product {
  margin-top: 45vh !important;
}

.content {
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;

	h1, h2, h3, h4 {
		margin: 0;
	}

	> .header {
		display: flex;

		> div {
			margin: 10px;
		}
	}

	> .main {
		display: flex;

		> .invoice-wrapper {
			display: flex;
			flex-wrap: wrap;
			overflow-y: scroll;
			height: 40vh;
			width: 60%;
	
			> div {
				padding: 10px;
				min-width: 500px;
			}
		}

		> .order-builder {
			width: 40%;
			height: 40vh;
			overflow-y: scroll;
		}

	}

	table {
		border-collapse: collapse;
		width: 100%;
		float: left;
		margin: 0 0 2em;

		thead {
			border-bottom: 3px solid $primary-color;
			th {
				padding: 0.35em 0 .35em;
			font-weight: 400;
				text-align: center;
				@include heading-font-regular;
				font-size: 1.25em;
			}
			
		}

		tbody {
			border-bottom: 3px solid $primary-color;

			&.--orders {
				border-bottom: none;
			}

			tr {
				border-bottom: 2px solid #ddd;

				&.line-item {
					> td:last-child {
						cursor: pointer;						
					}

					> .autocompleter {

						.input-select {
							font-size: 1.6rem;
							padding: 0.2rem;
						}

						.elm-select-menu {
							margin-top: 0.6em;
						}

						
					}
				}
			
				td {
					padding: .75em 0;

					a {
						color: $primary-color;
						text-decoration: none;
						display: inline-block;
						margin: 0 .5em 0 0;
						&:hover, &:active, &:focus {
							color: darken($primary-color, 10%);
							border: none;
						}
					}
				}
			}
		}

		tfoot {
			td {
				padding: 0.35em 0 .35em;

				text-align: left;
				@include heading-font-regular;
				font-size: 1.25em;
			}
		}
	}
}

